USE [DBVendas]
GO
/****** Object:  Table [dbo].[Fotos]    Script Date: 10/06/2025 08:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Fotos]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Fotos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VendedorId] [bigint] NOT NULL,
	[NomeArquivo] [nvarchar](max) NULL,
	[TipoArquivo] [nvarchar](max) NOT NULL,
	[ConteudoArquivo] [varbinary](max) NOT NULL,
	[DtInclusao] [datetime2](7) NOT NULL,
	[DtExclusao] [datetime2](7) NULL,
 CONSTRAINT [PK_Fotos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Projecoes]    Script Date: 10/06/2025 08:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Projecoes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Projecoes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Ano] [nvarchar](max) NOT NULL,
	[Valor] [bigint] NOT NULL,
	[DtInclusao] [datetime2](7) NULL,
	[DtAlteracao] [datetime2](7) NULL,
	[DtExclusao] [datetime2](7) NULL,
 CONSTRAINT [PK_Projecoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Vendas]    Script Date: 10/06/2025 08:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Vendas]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Vendas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VendedorId] [bigint] NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[DtInclusao] [datetime2](7) NOT NULL,
	[DtAlteracao] [datetime2](7) NULL,
	[DtExclusao] [datetime2](7) NULL,
	[Valor] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Vendas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Vendedores]    Script Date: 10/06/2025 08:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Vendedores]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Vendedores](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NomeCompleto] [nvarchar](max) NOT NULL,
	[DocumentoTipo] [nvarchar](max) NOT NULL,
	[DocumentoNumero] [nvarchar](max) NOT NULL,
	[Telefone] [nvarchar](max) NOT NULL,
	[Relacionamento] [nvarchar](max) NOT NULL,
	[DtInclusao] [datetime2](7) NOT NULL,
	[DtExclusao] [datetime2](7) NULL,
	[Situacao] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[DtAlteracao] [datetime2](7) NULL,
 CONSTRAINT [PK_Vendedores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Fotos] ON 

SET IDENTITY_INSERT [dbo].[Fotos] OFF
GO
SET IDENTITY_INSERT [dbo].[Projecoes] ON 

INSERT [dbo].[Projecoes] ([Id], [Ano], [Valor], [DtInclusao], [DtAlteracao], [DtExclusao]) VALUES (1, N'2025', 3700000, CAST(N'2025-06-09T20:40:56.1200911' AS DateTime2), CAST(N'2025-05-29T21:29:04.6110847' AS DateTime2), NULL)
INSERT [dbo].[Projecoes] ([Id], [Ano], [Valor], [DtInclusao], [DtAlteracao], [DtExclusao]) VALUES (2, N'2024', 3100000, CAST(N'2025-06-09T20:50:56.3900932' AS DateTime2), CAST(N'2025-06-09T21:05:42.6563083' AS DateTime2), CAST(N'2025-06-09T21:06:17.5008078' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Projecoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendas] ON 

INSERT [dbo].[Vendas] ([Id], [VendedorId], [Descricao], [DtInclusao], [DtAlteracao], [DtExclusao], [Valor]) VALUES (1, 7, N'Venda Referente a Nota Fiscal número xxxxxxxxx/xx - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx', CAST(N'2025-05-27T21:03:20.8023682' AS DateTime2), NULL, NULL, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[Vendas] ([Id], [VendedorId], [Descricao], [DtInclusao], [DtAlteracao], [DtExclusao], [Valor]) VALUES (2, 7, N'Venda Referente a Nota Fiscal número xxxxxxxxx/xx - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx', CAST(N'2025-05-27T21:06:05.0995214' AS DateTime2), NULL, NULL, CAST(14890.00 AS Decimal(18, 2)))
INSERT [dbo].[Vendas] ([Id], [VendedorId], [Descricao], [DtInclusao], [DtAlteracao], [DtExclusao], [Valor]) VALUES (3, 7, N'Venda Referente a Nota Fiscal número xxxxxxxxx/xx - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx', CAST(N'2025-05-27T21:09:40.5423001' AS DateTime2), NULL, NULL, CAST(52250.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Vendas] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendedores] ON 

INSERT [dbo].[Vendedores] ([Id], [NomeCompleto], [DocumentoTipo], [DocumentoNumero], [Telefone], [Relacionamento], [DtInclusao], [DtExclusao], [Situacao], [Email], [DtAlteracao]) VALUES (7, N'Ananya Adhal', N'CPF', N'0443922913', N'(31)98213-2389', N'Analista de Vendas', CAST(N'2025-02-18T22:46:56.0000000' AS DateTime2), NULL, N'Regular', N'meuemail@email.com.br', CAST(N'2025-06-07T20:31:43.5281893' AS DateTime2))
INSERT [dbo].[Vendedores] ([Id], [NomeCompleto], [DocumentoTipo], [DocumentoNumero], [Telefone], [Relacionamento], [DtInclusao], [DtExclusao], [Situacao], [Email], [DtAlteracao]) VALUES (8, N'John Gore', N'CPF', N'018.991.999-36', N'(31)98181-2099', N'Analista de Vendas', CAST(N'2025-02-18T22:46:56.7567576' AS DateTime2), NULL, N'Irregular', N'meuemail@email.com.br', CAST(N'2025-06-05T17:15:39.6697274' AS DateTime2))
INSERT [dbo].[Vendedores] ([Id], [NomeCompleto], [DocumentoTipo], [DocumentoNumero], [Telefone], [Relacionamento], [DtInclusao], [DtExclusao], [Situacao], [Email], [DtAlteracao]) VALUES (9, N'Riasha Asaji Kobayashi Shiva', N'RG', N'8734590', N'(31)99912-2219', N'Analista de Vendas', CAST(N'2025-02-18T22:46:56.0000000' AS DateTime2), NULL, N'Regular', N'meuemail@email.com.br', NULL)
SET IDENTITY_INSERT [dbo].[Vendedores] OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Vendas__IdVended__5070F446]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Vendas] ADD  DEFAULT (CONVERT([bigint],(0))) FOR [VendedorId]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Vendas__DtInclus__6E01572D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Vendas] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DtInclusao]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Vendedore__DtInc__4F7CD00D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Vendedores] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DtInclusao]
END
GO
