@page
@model RazorClassLibrary.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sobre o autor</title>
</head>
<body>

    <p><h4>Este projeto foi desenvolvido por Weiderson Mendes Queiroz.</h4></p>
    <p><h5>
        Contato: 
        <a href="mailto: weiderson@protonmail.com">E-mail</a>
        <a href="https://github.com/weiderson">GitHub</a>
        <a href="https://www.linkedin.com/in/weiderson/">Linkedin</a>
        <a href="https://www.youtube.com/weidersonmendes">Youtube</a>
        </h5>
    </p>


</body>
</html>
