@using WebApp.ViewModels;
@model LoginViewModel;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
    
<div class="container">
    <main>
        <div class="margi-init">

            <div class="card w-25 box2 warning ml-100 mr-100 mx-auto text-center">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a class="nav-link text_sh4 iconeLogin"><i class="fa-regular fa-user fa-xl"></i></a>
                    </h3>
                </div>

                <hr class="config1" />

                <div class="panel-body">
                    <form role="form" asp-action="Login" asp-controller="Account" method="post">
                        <div class="form-group itemLogin">
                            <input asp-for="Email" class="form-control btn btn-outline-light input-sm" placeholder="Digite de e-mail" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group itemLogin">
                            <input asp-for="Password" class="form-control btn btn-outline-light input-sm" placeholder="Digite a senha" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group item itemLogin">
                            <input type="submit" value="Acessar" class="form-control btn btn-light input-sm">
                        </div>
                    </form>
                </div>

                @if (ViewData["messagem"] != null)
                {
                    <div class="itemLogin alielem">
                        <div class="alert alert-danger alert-dismissible fade show alert-size2" role="alert">
                            @ViewData["messagem"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>                    
                }

                <hr class="config2" />

                <blockquote class="itemLogin iconeLoginConfig">
                    <p>
                        PARA ACESSAR O SISTEMA, ENTRE COM OS SEUS DADOS CADASTRADOS. CASO NÃO POSSUE CADASTRO,
                        <a href="@Url.Action("Register", "Account")" class="anewcolor">CLIQUE AQUI</a>
                        PARA EFETUAR O CADASTRO.
                    </p>
                </blockquote>

            </div>
        </div>        
    </main>   
</div>